{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": { "project": "./tsconfig.json" }
    }
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false }],
    "no-void": "off",
    "radix": ["error", "as-needed"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-console": ["error", { "allow": ["error", "warn", "table", "time"] }]
  },
  "ignorePatterns": [ "*.config.[tj]s" ]
}
