{
  "extends": ["stylelint-config-recommended", "stylelint-config-css-modules"],
  "rules": {
    "indentation": [2, { "severity": "warning" }],
    "font-family-name-quotes": "always-where-recommended"
  }
}
