.deferredBackgroundContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /* it's a background after all */
  z-index: -1000;

  .deferredBackgroundContainer__image {
    opacity: 0;

    img {
      min-height: 100vh;
      min-width: 100vw;
    }

    &_withTransition {
      @media (prefers-reduced-motion: no-preference) {
        transition-property: opacity, filter;
        transition-duration: 500ms;
        transition-timing-function: ease-out;
      }
    }

    &_inverted {
      /* Using invert on image only. Not using it on fonts and stuff, because of gamma, perceived lightness, etc.*/
      filter: invert(1);
    }


    &.show {
      opacity: 1;
    }
  }
}
