.login {
  display: flex;
  flex-direction: column;

  border: 0;
  background-color: rgba(var(--background-color-rgb), .94);
  border-radius: var(--border-radius);

  position: relative;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__row {
      width: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 300px;
    }

    &__input {
      padding: 7px;
      margin: 10px;
    }

    &_touched {
      .login__form__input:required:invalid {
        @media (prefers-color-scheme: dark) {
          :global(:root) & {
            border-color: darkred;
          }
        }
        border-color: red;
      }
    }


    &__button {
      border: 0;
      border-radius: 0;

      padding: 10px;
      text-transform: uppercase;


      &_register {
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        background-color: rgba(var(--text-color-rgb), 0.9);
        color: rgba(var(--background-color-rgb), .9);

        &:focus {
          background-color: rgba(var(--text-color-rgb), 0.8);
        }

        &:hover {
          background-color: rgba(var(--text-color-rgb), 0.7);

          &:active {
            background-color: rgba(var(--text-color-rgb), 0.5);
          }
        }
      }

      &_login {
        background-color: rgba(var(--text-color-rgb), 0.1);
        color: rgba(var(--text-color-rgb), 0.7);

        &:hover {
          background-color: rgba(var(--text-color-rgb), 0.2);

          &:active {
            background-color: rgba(var(--text-color-rgb), 0.4);
          }
        }
      }
    }
  }


}
